body {
    background: #eee8d5;
    color: #586e75;
}

button{
    background:  	#eee8d5;
}

.navigation {
    background-color: #fdf6e3;
    border-right-style: solid;
    border-right-color: #002b36;
    border-right-width: 1px;

}

.interactive-row{}

.interactive-row:hover{
    box-shadow: 0px 5px 15px #2c3e50;
}