button{
    background:  	#93a1a1;
}

.navigation {
    height: 100%;
    width: 160px;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;

}

#big-result-box{
    border: 1px solid green ;
    float:top;
    display: inline-flex;


}

#container {

    display: inline-flex
}

#big-result-img{
    max-height: 400px;
    width: auto;
}

.my-table{
    border-collapse: collapse;
    border: 1px solid black;
}

