button{
    border-radius: 12px;
}

.navigation {
    height: 100%;
    width: 160px;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;

}

@media screen and (max-width: 800px) {
    #container{
        display: flex;
        flex-direction: column;
        align-content: stretch;
        height: 100%;

    }
    .navigation{
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        flex-grow: 1;
        position: fixed;

    }
    #big-result-img{
        max-width: 75vw;
        height: auto;

    }
    #big-result-box{
        width: 90vw;
        height: auto;

        position: relative;
        overflow: scroll;
        top: 100px;
    }
    #container {
        display: flex;
    }

    #container div {
        display: block;
    }
    .my-table{
        align-self: center;
    }
    #plot-container{
        max-width: 85vw;
        top: 100px;
        position: relative;

    }
    .small-button{
        width: 50px;
        height: 30px;
    }


}

@media screen and (min-width: 801px){


}


#big-result-box{
    border: 1px solid #839496  ;
    float:top;
    display: inline-flex;


}

#container {
    display: inline-flex;
}

#big-result-img{
    max-width: 300px;
    height: auto;
}

.my-table{
    border-collapse: collapse;
    border: 1px solid #839496 ;
}


