button{
    background:  	#93a1a1;
}

.navigation {
    height: 100%;
    width: 160px;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;

}

@media screen and (max-width: 800px) {
    #container{
        display: none;
    }
    .navigation{
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
    }
    #big-result-img{
        max-width: 75vw;
        height: auto;

    }
    #big-result-box{
        width: 90vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    #container {
        display: flex;
    }
    .my-table{
        align-self: center;
    }

}

@media screen and (min-width: 801px){


}


#big-result-box{
    border: 1px solid green ;
    float:top;
    display: inline-flex;


}

#container {
    display: inline-flex;
}

#big-result-img{
    max-width: 300px;
    height: auto;
}

.my-table{
    border-collapse: collapse;
    border: 1px solid black;
}

